/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Variables */
:root{
    --bg: #1e1e1e;
    --text: #a1a1aa;
    --title: #f4f4f5;
}

/* General styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* change a default 16px font size to 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: var(--text);
}

h1,h2,h3,h4{color: var(--title);}

/* Mobile Title */
h1{font-size: 2.8rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2rem;}
h4{font-size: 1.6rem;}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text);
}

/* Image Profile */

.profile-image img{
    border-radius: 50%;
    border: 2px solid var(--title);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    .container{
        padding: 0 3rem;
    }
    .desktop-menu{
        display: none;
    }
    .logo-site img{
        width: 30px;
    }
    .filter-blur{
        filter: blur(1.5rem);
        
    }
    /* Header */
    header{
        padding: 1rem 0;
    }

    /* Menu Mobile */
    .mobile-menu{
        position: sticky;
        top: 0;
        margin: 1rem auto;
        width: 90%;
        max-width: 100%;
        border: 1px solid var(--text);
        border-radius: 10px;
        padding: 2.5rem;
        background-color: var(--bg);
        z-index: 1;
        display: none;
    }
    .mobile-menu .nav-content .close-btn{
        display: flex;
        justify-content: space-between;
    }
    .close-btn{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .close-btn a,
    .open-btn{
        font-size: 4rem;
        font-weight: 400;
        color: var(--text);
    }
    .close-btn a:hover{
        color: var(--title);
    }
    .nav-content .links-menu{
        display: flex;
        flex-direction: column;
    }
    .links-menu a{
        margin: 2rem 0;
        padding-bottom: 1rem;
        color: var(--title);
        font-size: 1.4rem;
    }
    .links-menu a:not(:last-child){
        border-bottom: 1px solid var(--text);
    }
    .links-menu a:hover{
        color: var(--text);
    }
    /* Fin MobileMenu */
    /* main section */
    main{
        padding: 3rem 0;
    }
    main .profile .profile-image img{
        width: 10rem;
        height: 10rem;
    }
    .profile{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .profile-info p:nth-child(1){
        font-weight: bold;
        color: var(--title);
    }
    .info-main p{
        line-height: 2;
    }
    .social-media-main ion-icon{
        font-size: 2.5rem;
        margin-right: 1rem;
    }
    .social-media-main ion-icon:hover{
        color: var(--title);
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1{font-size: 3.2rem;}
    h2{font-size: 2.8rem;}
    h3{font-size: 2.4rem;}
    h4{font-size: 2rem;}
    body{
        font-size: 1.4rem;
    }
    .mobile-menu,
    .open-btn,
    .nav-content{
        display: none;
    }
    .container{
        padding: 0 5rem;
    }

    /* MenuDesktop */
    .logo-site img{
        width: 50px;
    }
    header{
        padding: 2rem 0;
    }
    .desktop-menu a{
        color: var(--title);
        font-size: 1.4rem;
        padding: 0 2rem;
        
    }
    .desktop-menu a:not(:last-child){
        border-right: 1px solid var(--title);
    }
    .desktop-menu a:hover{
        color: var(--text);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}